
<h1>Welcome to Cryptodash</h1> 
<h2> Today's Stock Prices and Trends </h2>
<p> Note that these cards are presented in columns, therefore the #1, #2, and #3 are all in the left column.</p>
<div class="card-columns" id="stocks">
  <div class="card" ng-repeat="stock in $ctrl.stocks">
      <div class="card-body">
        <h5 class="card-title">
            {{stock.name}} </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{stock.value}}</h6>
        <!-- TODO: add d3 chart components -->
        <img src="https://leanpub.com/site_images/D3-Tips-and-Tricks/straightgraph2.png" width="100%" alt="sample chart">
        
        <!-- Only show buy button if the user is logged in -->
            <button type="submit" class="btn btn-success" ng-hide="{{$ctrl.currentUser === null}}"
            ng-click="$ctrl.buyStock(stock.name, stock.value, $ctrl.currentUser.username)">
              <i class="far fa-credit-card" aria-hidden="true"></i> 
              Buy
            </button>

        <!-- takes you to the faq page-->
        <a href="#!faq" aria-label="Click for more information on cryptocurrency">
          <button type="button" class="btn btn-dark" aria-label="Button is a link to more information on cryptocurrency">
          <i class="fas fa-angle-double-right" aria-hidden="true"></i>  
          More Info 
        </button>
      </a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated on {{stock.date}}</small>
      </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>