<div class="row">
    <div class="col-md-8 col-12">
        <h1>Welcome to Cryptodash</h1> 
        <h2> Today's Cryptocurrency Prices </h2>
    </div>
    <div class="col-md-4 col-12">
        <div ng-hide="{{$ctrl.currentUser === null}}">
            <!-- initalize user's balance with the starting $25,000 if not already done -->
                <span ng-init="$ctrl.init()"></span>
                <div class="alert alert-primary" role="alert">
                    <strong>Balance:</strong> {{$ctrl.userBalance.balance | currency: "$":2}}
                </div>
        </div>

        <div ng-show="{{$ctrl.currentUser === null}}">
                <div class="alert alert-warning" role="alert">
                    Log in or register to invest in cryptocurrency.
                </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <p> View more information below about the cryptocurrencies. Register to invest and get your complimentary $25,000!</p>        

    <div class="card-columns" id="stocks">

        <!-- for each stock-->
        <div class="card" ng-repeat="stock in $ctrl.stocks">
            <div class="card-body">
                <!-- name and amount-->
                <h5 class="card-title">
                    {{stock.name}} </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{stock.close | currency:"$":2}}</h6>
    

                <!-- Only show buy section if the user is logged in -->
                    <!-- buy form-->
                <form name="buy" class="bg-light border p-2" ng-hide="{{$ctrl.currentUser === null}}"
                ng-submit="$ctrl.buyStock(stock.name, $ctrl.amount, stock.close, stock.date, $ctrl.userBalance.balance)">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" ng-model="$ctrl.amount" placeholder="# of {{stock.name}}"/>
                        </div> <div class="col-md-6 text-center">
                            <input type="submit" class="btn btn-success btn-sm" value="Buy {{stock.name}}" />
                        </div>
                    </div>
                </form>    

                <!-- TODO: add d3 chart components 
                    <img src="https://leanpub.com/site_images/D3-Tips-and-Tricks/straightgraph2.png" width="100%" alt="sample chart">
                    -->

                <!-- drop down more info -->
                <span>
                    <button type="button" class="btn btn-sm btn-dark m-2" ng-click="row.booleanVal =row.booleanVal?false:true">
                        <i class="fas fa-angle-double-right" aria-hidden="true"></i>  
                        More Info
                    </button>
                    <div class="check-element animate-show my-2" ng-show="row.booleanVal">
                        <table id="currencyInfoTbl">
                            <tr>
                                <th>Open</th>
                                <td>{{stock.open | currency:"$":2}}</td>
                            </tr>
                            <tr>
                                <th>High</th>
                                <td>{{stock.high | currency:"$":2}}</td>
                            </tr>
                            <tr>
                                <th>Low</th>
                                <td>{{stock.low | currency:"$":2}}</td>
                            </tr>
                            <tr>
                                <th>Close</th>
                                <td>{{stock.close | currency:"$":2}}</td>
                            </tr>
                            <tr>
                                <th>Volume</th>
                                <td> {{stock.volume | number:0}}</td>
                            </tr>
                            <tr>
                                <th>Market Cap</th>
                                <td>{{stock.marketCap | currency:"$":2}}</td>
                            </tr>
                        </table>      
                    </div>
                </span>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated on {{stock.date | date:'MM/dd/yyyy'}}</small>
            </div>
        </div>
    </div>
</div>