<div class="row">
    <div class="stockbar sidebar-sticky col-md-4">
        <!-- on click, send data to the currency-info module/component -->
        <div ng-repeat="stock in $ctrl.stocks" class="stock-item p-2">
            <div class="row"> 
                <div class="col-md-6 col-12">
                    <h5>{{stock.name}}</h5> 
                    <p ng-show="{{$ctrl.currentUser === null}}" class="blockquote-footer"> LOGIN TO INVEST</p>
                    <p ng-hide="{{$ctrl.currentUser === null}}" class="blockquote-footer"> 110 SHARES</p>
                </div>
                <div class="col-md-6 col-12 text-right">
                    <h6 class="btn btn-sm btn-success my-2">{{stock.close | currency:"$"}}</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">

       <currency-info></currency-info>
    </div>
</div>