<div class="row">
    <div class="col-12">
        <h1> Help </h1>

        <h2>Chat with Lex</h2> 
        <div class="row my-2">
            <div class="col-md-4 col-12">
                <div style="font-size:10em; color:Tomato">
                    <i class="fas fa-microphone" 
                    aria-label="Click to interact with our help bot through voice input and output"></i>
                </div>
            </div>
            <div class="col-md-8 col-12">
                <h3>You can ask...</h3>
                <blockquote class="blockquote">
                        <p class="mb-0">What is cryptodash?</p>
                        <p class="mb-0">What is a crypto currency?</p>
                        <p class="mb-0">How do I buy currency?</p>
                        <p class="mb-0">How do I sell currency?</p>
                        <p class="mb-0">Why do I get $25,000 for signing up?</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="row my-2">
    <div class="col-12">
        <h2> 
            Frequently Asked Questions
        </h2>
        <h3>What is cryptocurrency?</h3> 
        <iframe width="500" height="315" src="https://www.youtube.com/embed/HLYuxoytR3s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

