<span ng-show="{{$ctrl.currentUser === null}}">
    Please login to see your history.
</span> 

<span ng-hide="{{$ctrl.currentUser === null}}">
<!-- start authenticated user content-->
<div class="row">
    <div class="col-md-8 col-12">
      <h1>History for {{$ctrl.currentUser.username}}</h1> 
    </div>
    <div class="col-md-4 col-12">
      <div class="alert alert-primary" role="alert">
          <strong>Balance:</strong> {{$ctrl.userBalance.balance | currency: "$":2}}
      </div>
    </div>
</div>
  <table id="historyInfoTbl">
        <thead>
          <th>Date</th>
          <th>Transaction</th>
          <th>Cryptocurrency</th>
          <th>Amount</th>
          <th>Price</th>
        </thead>
        <tr ng-repeat="history in $ctrl.userHistory"> 
          <td>{{history.date | date:'MM/dd/yyyy hh:mm a'}}</td>
          <td>{{history.transactionType}}</td>
          <td>{{history.stockType}}</td>
          <td>{{history.amt}}</td>
          <td>{{history.value}}</td>
        </tr>
    </table>    
</span>