<div class="sidebar-sticky">

  <ul class="nav flex-column">
    
      <!--<li class="nav-item">
        <a class="nav-link" href="#!">
          Homepage
        </a>
      </li>-->
    
    <li class="nav-item">
      <a class="nav-link" href="#!stocks">
        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
        Buy Stocks
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#!dashboard">
       <i class="fas fa-chart-line" aria-hidden="true"></i> 
        My Stocks
      </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="#!history">
          <i class="fas fa-history" aria-hidden="true"></i> 
          My History
        </a>
      </li>

    <li class="nav-item">
        <a class="nav-link" href="#!faq">
          <i class="fas fa-microphone" aria-hidden="true"></i> 
          Help
        </a>
      </li>
<!--
    <li class="nav-item">
      <a class="nav-link" href="#!help">
        <i class="fas fa-microphone" aria-hidden="true"></i> 
        Lex
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#!charts">
          <i class="fas fa-chart-line" aria-hidden="true"></i> 
        Chart
      </a>
    </li>-->
      
  </ul>
</div>