<div class="sidebar-sticky">

  <ul class="nav flex-column">
    
      <li class="nav-item">
        <a class="nav-link" href="#!">
          Homepage
        </a>
      </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#!stocks">
        Stocks
      </a>
    </li>

    <li class="nav-item" ng-hide="{{$ctrl.currentUser === null}}">
      <a class="nav-link" href="#!dashboard">
       <!-- <i class="fas fa-chart-line" aria-hidden="true"></i> -->
        Dashboard
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#!faq">
        <!-- <i class="fas fa-question" aria-hidden="true"></i>  -->
        FAQ
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#!help">
      <!--  <i class="fas fa-microphone" aria-hidden="true"></i> -->
        Help
      </a>
    </li>
      
  </ul>
</div>